source/*/bin/
source/*/obj/
source/packages/
*.suo
source/buildreports/
source/node_modules/
source/test-results.xml
*.user
source/bin/
nunit-result.xml
*.swp
source/coverage
buildreports
source/.vs/config/applicationhost.config
source/OpenCover/
*.ncrunchproject
*.ncrunchsolution
source/Fortel.OMS.Web/logs/*
ut_report-Chrome_56.0.2906_(Windows_10_0.0.0).xml
ut_report-PhantomJS_2.1.1_(Windows_8_0.0.0).xml
node_modules
js-buildreports/
.gitattributes
.vs/
tools/
*.zip
